html{
    border-radius: 20px;
}
#close-duplicates-button {
  background-color: rgb(255, 10, 10);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 30%);
  font-size: 1.1rem;
  
}
#close-duplicates-button:hover {
  cursor: pointer;
}

#close-duplicates-button:active {
  font-size: 1.1rem;
  box-shadow: none;
  transform: translateY(2px);
}
